<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!-- Spring agrega por defecto a la fabrica de Beans para ser inyectados -->
	<context:component-scan base-package="concursantes" />

	<!-- Codigo equivalente en Java: -->
	<!-- Malabarista concursante1 = new Malabarista(); -->
	<!--
	<bean id="solei" class="concursantes.Malabarista">
		<constructor-arg value="10"></constructor-arg>
	</bean>
	-->
	
	<!-- Poema sonetoSorjuana = new Soneto(); -->
	<!-- Concursante concursante = new MalabaristaRecitador(10, sonetoSorjuana); -->
	<!--
	<bean id="sonetoSorjuana" class="concursantes.Soneto"></bean>
	
	<bean id="soleiRecitador" class="concursantes.MalabaristaRecitador">
		<constructor-arg value="15"></constructor-arg>
		<constructor-arg ref="sonetoSorjuana"></constructor-arg>
	</bean>
	-->
	
	
	<!-- Codigo musico -->
	<!--
	<bean id="piano" class="concursantes.Piano"></bean>
	
	<bean id="jasonPiano" class="concursantes.Musico">
		<property name="cancion" value="Noche de Paz"></property>
		<property name="instrumento" ref="piano"></property>
	</bean>
	-->
	
	<!-- Cambio de intrumento -->
	<bean id="jasonSax" class="concursantes.Musico">
		<property name="cancion" value="Equinox"></property>
		<property name="instrumento">
			<bean class="concursantes.Saxofon"></bean>
		</property>
	</bean>
	
	
	
</beans>
